.normal {
  background: #fefefe;
  min-width: 1000px;
  min-height: 100%;
  padding: 10px 0 40px;
}

.company {
  position: fixed;
  bottom: 0;
  z-index: 5;
  background: #fefefe;
  color: #999;
  margin-top: 40px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
}